.button {
  display: inline-block;
  background-color: var(--primary-theme-color);
  border: 0.125rem solid var(--primary-theme-color);
  border-radius: var(--primary-border-radius);
  color: var(--primary-theme-color);
  font-weight: 600;
  font-size: 0.75rem;
  font-family: var(--primary-font-family);
  text-decoration: none;
  padding: 0.25em 1em;
  box-sizing: border-box;
  cursor: pointer;

  &--lg {
    font-size: 1.125rem;
  }

  &--primary {
    background-color: var(--primary-button-color);
  }

  &--secondary {
    background-color: var(--secondary-button-color);
    border: 0.125rem solid var(--secondary-button-color);
  }

  &--tertiary {
    background-color: var(--tertiary-button-color);
    border: 0.125rem solid var(--tertiary-button-color);
  }

  &--form {
    border-radius: 0;
    background-color: var(--primary-button-color);
    /* border: 0.125rem solid var(--secondary-button-color); */
    color: var(--reverse-primary-text-color);
    border: none;
  }

  &--outline {
    border: 0.125rem solid var(--secondary-button-color);
    background-color: transparent;
  }
}