.container {
  // max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding-container);

  &--form {
    @include d-flex-fd-ai-jc-g(column, center, initial, 1.5rem);
  }

  &--sidebar {
    height: 100%;
    padding: 0 0.4rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.5rem;
      padding: 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: var(--tertiary-theme-color);
    }
  }
}

.elements {
  @include d-flex-fd-ai-jc-g(row, center, space-between, 0);

  &--form {
    flex-direction: column;
    gap: 2rem;
  }
}