.nav {
  --padding-nav: 1rem;
  padding: var(--padding-nav) 0;
  height: 100%;
  box-sizing: border-box;

  &--sidebar {
    padding-right: 0.2rem;
  }

  &__icon {

    &--item {
      height: 25px;
      width: 25px;
      pointer-events: none;
    }

    &--down {
      height: 10px;
      width: 10px;
      margin-left: auto;
      transform: rotate(-90deg);
      transition: transform 0.25s;
      pointer-events: none;
    }
  }
}